
html {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	background: lightcyan;
}

body {
	width: 100%;
	max-width: 400px;

	font-family: sans-serif;
	font-size: 14px;

	margin: 0;
	padding: 1em;
}

.info {
	text-align: center;

	margin: 0;
	margin-top: 1em;
}

.control {
	display: flex;
	align-items: center;
	margin-bottom: .2em;
}
.control-label {
	flex-shrink: 0;
	display: inline-block;
	width: 100px;
}
.control-field {
	flex-grow: 1;
	width: 80px;
	margin-right: .6em;
}

.indicator {
	display: inline-block;
	flex-shrink: 0;
	box-sizing: border-box;
	width: 1em;
	height: 1em;

	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 99px;
	background: lightgrey;
}
.indicator-ok {
	background: limegreen;
}
.indicator-warn {
	background: orange;
}
.indicator-error {
	background: red;
}

